    {{ form.csrf_token }}

{% if form.messages %}
<h1>{{ form.messages }}</h1>
{% endif %}

    <div class="input-group vertical">
    {{ form.full_name.label }} {{ form.full_name(class="css_class") }}
    {% if form.full_name.errors %}
        <ul class="errors">{% for error in form.full_name.errors %}<li>{{ error }}</li>{% endfor %}</ul>
    {% endif %}
    </div>

    <div class="input-group vertical">
    {{ form.email.label }} {{ form.email(class="css_class") }}
    {% if form.email.errors %}
        <ul class="errors">{% for error in form.email.errors %}<li>{{ error }}</li>{% endfor %}</ul>
    {% endif %}
    </div>

    {% if request.user.is_superuser %}
    <br/>
    <div class="input-group">
      {{ form.is_active(class="") }}
      {{ form.is_active.label(class="") }}
      {{ form.is_superuser(class="") }}
      {{ form.is_superuser.label(class="") }}
    </div>

    <div class="input-group vertical">
      <hr/>
      {{ form.data.label(class="") }}
      {{ form.data(class="") }}
    </div>
    {% endif %}
