{% extends "base.html" %}

{% block content %}

  <div>
    <a href="/admin">Admin</a> &raquo; <span>Users</span>
  </div>

  <div>

    <h3>Create a user</h3>
    <form method="POST" action="{{ request.url_for('admin:users') }}">
      {% with action='.' %}
        {% include "forms/user.html" %}
      {% endwith %}
      <input type="submit" value="Create" name="user-create" />
    </form>

    <h3>Users</h3>
    <table>
      <th>ID</th><th>Active</th><th>Admin</th><th>email</th><th>name</th>
    {% for user in users %}
      <tr>
      </tr>
      <tr>
        {% with link=request.url_for('admin:user', user_id=user.id) %}
        <td><a href="{{ link }}">{{ user.id }}</a></td>
        <td>{% if user.is_active %}<span class="check"></span>{% endif %}</td>
        <td>{% if user.is_superuser %}<span class="check"></span>{% endif %}</td>
        <td><a href="{{ link }}">{{ user.email }}</a></td>
        <td><a href="{{ link }}">{{ user.full_name }}</a></td>
        {% endwith %}
      </tr>
    {% endfor %}
    </table>
  </div>

{% endblock content %}
