{% extends "base.html" %}

{% block content %}

  <div>
    <br/>
    <span class="responsive-margin"><a href="/admin">Admin</a></span>
    &raquo;
    <span class="responsive-margin">Users</span>
    <hr/>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-12">
    <h3>Create a user</h3>
    <form method="POST" action="{{ request.url_for('admin:users') }}">
      {% with action='.' %}
        {% include "forms/user.html" %}
      {% endwith %}
      <input type="submit" value="Create" name="user-create" />
    </form>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-12">
    <h3>Users</h3>
    <table class="hoverable">
    <tbody>
      <th>ID</th><th>email</th><th>name</th><th>active</th><th>admin</th>
    {% for user in users %}
      <tr>
        {% with link=request.url_for('admin:user', user_id=user.id) %}
        <td data-label="ID"><a href="{{ link }}"><span alt="{{ user.id }}" data-tippy-content="{{ user.id }}">{{ user.id }}</span></a></td>
        <td data-label="email"><a href="{{ link }}"><span alt="{{ user.email }}" data-tippy-content="{{ user.email }}">{{ user.email }}</span></a></td>
        <td data-label="email"><a href="{{ link }}"><span alt="{{ user.full_name }}" data-tippy-content="{{ user.full_name }}">{{ user.full_name }}</span></a></td>
        <td data-label="active">{% if user.is_active %}<span class="icon-check-square" alt="active: {{ user.is_active }}" data-tippy-content="active: {{ user.is_active }}"></span>{% endif %}</td>
        <td data-label="admin">{% if user.is_superuser %}<span class="icon-check-square" alt="admin: {{ user.is_superuser }}" data-tippy-content="admin: {{ user.is_superuser }}"></span>{% endif %}</td>
        {% endwith %}
      </tr>
    {% endfor %}
    </tbody>
    </table>
    </div>
  </div>

  <script>
    tippy('td span');
  </script>

{% endblock content %}
