body {}

section#page {
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-columns: 20% auto 30%;
  grid-gap: 10px;
  grid-auto-rows: minmax(3em, auto);
}

section#banner {
}


section#page div {
  /* border: 1px solid #666; */
  /*padding: 1em;*/
  /* border-radius: 1em; */
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.6em;
  color: rgb(50, 50, 159);
}

div.messages {
  border: 2px solid red;
  padding: 1em;
  /* margin-bottom: 1em; */
  border-radius: 1em;
}

div.messages div {
  position: static;
  border: 1px solid #999;
  padding: .5em;
  margin-bottom: .5em;
  border-radius: .5em;
}

div.messages span {
  position: relative;
  bottom: -15px;
  left: -10px;
}

div.left-sidebar {
  grid-column: 1;
  grid-row: 1 / 5;
  background-color: rgb(250, 250, 250);
}

div.right-sidebar {
  grid-column: 3;
  grid-row: 1 / 5;
  background-color: rgb(51, 51, 51);
}



.nav {
  grid-column: 2 / 3;
  grid-row: 1;
}

.header {
  grid-column: 2 / 3;
  grid-row: 2;
}
.api { 
  grid-column: 2 / 3;
  grid-row: 2 / 5;
}
.profile {
  grid-column: 2 / 3;
  grid-row: 3 / 5;
}
.console {
  grid-column: 2 / 3;
  grid-row: 2
}


input {
  font-size: 1em;
  padding: 0.25em 0.5em;
  margin: 0.25em 0.25em;
  background-color: #fff;
  border: 2px solid #999;
  border-radius: 4px;
}

.client-app {
  border: 1px solid #666;
  border-radius: .5em;
  padding: .5em;
  margin-bottom: .5em;
}
