body {
  margin: 0 0;
  padding: 0 0;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5em;
  color: rgb(51, 51, 51);
  text-align: left;
}

h1 {
    margin-top: 0px;
    margin-bottom: 0.5em;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 1.85714em;
    line-height: 1.6em;
    color: rgb(50, 50, 159);
    margin-top: 0px;
    margin-bottom: 0.5em;
}

h2 {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 1.57143em;
    line-height: 1.6em;
    color: black;
    text-align: left;
}


h3 {
  font-family: Roboto, sans-serif;
  line-height: 1.5em;
  color: rgb(51, 51, 51);
  text-align: left;
}

div.client-app h3 {
  margin: -10px;
  background: var(--secondary); 
  border-radius: 10px 10px 0 0;
  padding: 5px 10px;
}

div.client-app p{
  font-size: 80%;
}

.api-key {
  color: #999;
}
.api-secret {
  color: #999;
}

div.nav ul {
  list-style: none;
  margin-left: 0;
  text-align: left;
  padding: 0;
}

div.nav ul>li {
  display: inline-block;
  margin-right: 2em;
}

div.nav ul>li>a {
  text-decoration: none;
}

:root {
  --error: #d62828;
  --warn: #f77f00;
  --info: #003049;
  --primary: rgb(38, 50, 56);
  --secondary: #fcbf49;
  --bg: rgb(250, 250, 250);
}

section#page {
  display: grid;
  grid-template-columns: 20% auto 30%;
  grid-gap: 10px;
  grid-auto-rows: minmax(3em, auto);
}

section#banner {
}


section#page div {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.6em;
  color: var(--primary);
}

div.messages {
  border: 2px solid rgb(50, 50, 159);
  padding: 1em;
  border-radius: 1em;
}

div.messages div {
  position: static;
  border: 1px solid #999;
  padding: .5em;
  margin-bottom: .5em;
  border-radius: .5em;
}

div.messages span {
  position: relative;
  bottom: -15px;
  left: -10px;
}

div.messages div.info {
  border: 2px solid var(--info);
}

div.messages div.warning {
  border: 2px solid var(--warn);
}

div.messages div.error {
  border: 2px solid var(--error);
}

div.left-sidebar {
  grid-column: 1;
  grid-row: 1 / 5;
  background-color: var(--bg);
}

div.right-sidebar {
  grid-column: 3;
  grid-row: 1 / 5;
  background-color: var(--primary);
}


div.content {
  padding: 2em;
}

div.nav {
  grid-column: 2 / 3;
  grid-row: 1;
  margin: 1em 2em 0 2em;
}

div.nav li.active>a {
  text-decoration: underline;
}

.header {
  grid-column: 2 / 3;
  grid-row: 2;
}
.api { 
  grid-column: 2 / 3;
  grid-row: 2 / 5;
}
.profile {
  grid-column: 2 / 3;
  grid-row: 3 / 5;
}
.console {
  grid-column: 2 / 3;
  grid-row: 2
}


input {
  font-size: 1em;
  padding: 0.25em 0.5em;
  margin: 0.25em 0.25em;
  background-color: #fff;
  border: 2px solid #999;
  border-radius: 4px;
}

.client-app {
  border: 1px solid #666;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: .5em;
}

label {
  display: inline-block;
  width: 20%;
}

input[type=text] {
  width: 70%;
}


ul.errors {
  list-style: none;
  color: var(--error);
}

span.check {
  padding: 10px;
  background-image:url('/static/icons/check-24px.svg'); 
  background-size: 24px;
  background-repeat: no-repeat;
}
}
