body {}

section#page {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

section#console {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

section#banner {
}

section#page div {
  border: 1px solid #666;
  padding: 1em;
  border-radius: 1em;
}

section#console div {
  border: 1px solid #666;
  padding: 1em;
  border-radius: 1em;
}

div.messages {
  border: 2px solid red;
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 1em;
}

div.messages div {
  border: 1px solid #999;
  padding: .5em;
  margin-bottom: .5em;
  border-radius: .5em;
}

.header {
  grid-column: 1 / 1;
  grid-row: 1;
}
.api { 
  grid-column: 2 / 4;
  grid-row: 1 / 4;
}
.profile {
  grid-column: 1;
  grid-row: 2 / 4;
}


input {
  font-size: 1em;
  padding: 0.25em 0.5em;
  margin: 0.25em 0.25em;
  background-color: #fff;
  border: 2px solid #999;
  border-radius: 4px;
}
