    <a href="{{ request.url_for('home') }}" class="button">Home</a>

    {% if request.user.is_authenticated %}
        <a href="{{ request.url_for('user_profile') }}" class="button">Profile</a>
        <a href="{{ request.url_for('apps') }}" class="button">Apps</a>
    {% endif %}
        <a href="{{request.url_for('docs')}}" class="button">Docs</a>
        <a href="{{request.url_for('api_docs')}}" target="api_docs" class="button">API<sup><span class="icon-link"></span></sup></a>

    {% if request.user.is_authenticated %}
        <a id="signout-link" href="{{ request.url_for('auth:logout') }}" class="button" alt="signed in as {{ request.user.full_name }}">Sign out 
          <span class="icon-user"></span></span>
        </a>
        {% else %}
        <a href="/auth/login" class="button">Sign in</a>
    {% endif %}

    {% if request.user.is_superuser %}
      <a href="{{ request.url_for('admin:home') }}" class="button">Admin</a>
    {% endif %}

    <script>
      tippy("#signout-link", { content: "Signed in as {{ request.user.full_name }}" });
    </script>
