<!doctype html>
<html>
<head>
	<title>Home</title>
    <link href="/static/site.css" rel="stylesheet">
</head>
<body>

<section id="banner">
  {% if request.session.messages %}
  <div class="messages">
    {% include "_messages.html" %}
  </div>
  {% endif %}
</section>

<section id="page">

  <div class="left-sidebar"></div>
  <div class="right-sidebar"></div>

  {% include "_nav.html" %}

  <style>
    .api-key {
      font-size: 80%;
      color: #999;
    }
    .api-secret {
      font-size: 80%;
      color: #999;
    }
  </style>

  <div class="api">
    <h3>API client apps</h3>
    <h4>Create a new API client</h4>
    {% with action='/apps' %}
        {% include "_client.html" %}
    {% endwith %}
    <h4>API client applications</h4>
    {% for client in api_clients %}
        <div class="client-app">
        <p><strong>NAME:</strong> {{ client.name }}</p>
        <p><strong>ID:</strong> <span class="api-key">{{ client.client_id }}</span></p>
        <p><strong>SECRET:</strong> <span class="api-secret">{{ client.client_secret }}</span></p>
        <form action="/apps" method="POST">
            <input type="hidden" name="delete" value="delete" />
            <input type="hidden" name="client_id" value="{{client.client_id}}" />
            <input type="submit" value="Delete" />
        </form>
        </div>
    {% endfor %}
  </div>
<section>

</body>

</html>
