<!doctype html>
<html>
<head>
	<title>Home</title>
    <link href="/static/site.css" rel="stylesheet">
</head>
<body>

{% include "_messages.html" %}

<section id="page">

  <div class="left-sidebar"></div>
  <div class="right-sidebar"></div>

  {% include "_nav.html" %}


  <div class="header">
    <h1>{{ project_name }}</h1>
    {% if request.user.is_authenticated %}
    <p>Hello, {{ request.user.full_name }}</p>
    {% else %}
    <p>Please sign in</p>
    {% endif %}
    <div>
      <a href="/docs/api" target="api_docs">API Docs</a>
    </div>
  </div>

  <div class="profile">
    {% if request.user.is_authenticated %}
        <div>
            <h3>User profile</h3>
            <p><strong>{{ request.user.full_name }}</strong></p>
            <p><strong>{{ request.user.email }}</strong></p>
            <p><a href="/users/me">Edit</a> | <a href="/auth/logout">Logout</a></p>
        </div>
    {% else %}
    <h2>Login</h2>
      <div>
      {% with form=login_form %}
        {% with action='/auth/login?next=/' %}
          {% include "_login.html" %}
        {% endwith %}
      {% endwith %}
      </div>
    {% endif %}
  </div>

</section>

</body>
</html>

