{% extends "base.html" %}

{% block content %}

    <h3>Password change for: {{ email }}</h3>
    <form method="POST" action="{{ action }}">
      {{ form.csrf_token }}
      {{ form.token }}

      <p>
      {{ form.new_password.label }} {{ form.new_password(class="css_class") }}
      {% if form.new_password.errors %}
        <ul class="errors">{% for error in form.new_password.errors %}<li>{{ error }}</li>{% endfor %}</ul>
      {% endif %}
      </p>

      <p>
      {{ form.retype_password.label }} {{ form.retype_password(class="css_class") }}
      {% if form.retype_password.errors %}
        <ul class="errors">{% for error in form.retype_password.errors %}<li>{{ error }}</li>{% endfor %}</ul>
      {% endif %}
      </p>
      <input type="submit" name="password-change" value="Change password"/>
    </form>

{% endblock content %}
