{% extends "base.html" %}

{% block content %}

    <h1>User Profile</h1>
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h3>{{ user.full_name }}</h3>
      </div>
      <div class="col-sm-12 col-md-6">
        <p>{{ user.email }}</p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-12">
            <form method="POST" action="{{ request.url_for('user_profile') }}">
                {% with form=user_form %}
                    {% include "forms/user.html" %}
                {% endwith %}
              <input type="submit" name="user-info" value="Update info" class="button small"/>
            </form>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-12">
            <form method="POST" action="{{ request.url_for('user_profile') }}">
              <fieldset>
              <legend>Password change</legend>
                {% with form=password_form %}
                    {% include "forms/password.html" %}
                {% endwith %}
              <br/>
              <input type="submit" name="password-change" value="Change password" class="button small"/>
              </fieldset>

            </form>
      </div>
    </div>

{% endblock content %}
